.gede{
    font-family: 'Roboto Mono', monospace;
    font-size: 100px;
}
.judul1{
    font-family: 'Roboto Mono', monospace;
    font-size: 50px;
}
.description{
    font-size: 20px
}

.header{
    height: 100vh;
    background-image: url('~assets/img/bg.jpg');
    background-size: cover
}
.download{
    background-color: #084071;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}
#about{
    background-color: #fff
}

.laptop{
    width: 600px;
    
}
@media only screen and (max-width: 620px) {
    .laptop{
        width: 400px
    }
  }
  @media only screen and (max-width: 418px) {
    .laptop{
        width: 320px
    }
  }
  @media only screen and (max-width: 338px) {
    .laptop{
        width: 270px
    }
  }